@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');

/* variables in css */
:root {
    --primary-color: #6366F1;
    --off-white: #F3F4F5;
    --dark-gray: #5f5f5f;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

hr{
    margin: 2rem 0;
}

h2{
    margin-bottom: 0.2rem;
}

p{
    line-height: 1.7rem;
}


/* container */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    width: fit-content;
    margin-left: 0;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    width: fit-content;
}

.link-inline{
    display: inline;
}

.link-back-to-page{
    padding: 0;
    margin: 0.5rem;
    color: black;
    display: block;
    width: fit-content;
}

.project-cta{
    display: flex;
    flex-direction: row;
}

/* lists */

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

ul {
    padding-inline-start: 0;
}

/* navs */

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
}

.navigation .link{
    color: white;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link-active{
    font-weight: bold;
}

.navigation .logo-font{
    font-size: 1.2rem;
}

/* header */

.hero {
    padding: 2rem;
}

.hero .hero-img{
    max-width: 300px;
    display: block;
    margin: auto;
    padding: 1rem 0;
}

.hero .hero-heading{
    color: var(--dark-gray);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color)
}

/* section */

.section{
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow{
    background-color: var(--off-white);
}

/* footer */

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer .link{
    color: white;
}

.footer ul{
    padding-inline-start: 0;
}

.social-links .link {
    margin: 0;
}

.social-links .social-icons{
    height: 2rem;
    width: 2rem;
}

/* Mobile devices */

@media (max-width: 500px) {

    .navigation .nav-brand {
        text-align: center;
    }

    .list-item-inline{
        padding: 0;
    }

    .navigation .nav-pills{
        text-align: center;
    }

    nav .link{
        margin: 0;
        padding: 0.5rem;
    }

    .hero .hero-img{
        max-width: 100%;
    }

    .section {
        padding: 1rem;
    }
  }
